
<h1>All Upcoming Chores</h1>
<p class="supertiny">&nbsp;</p>
<%= render :partial => 'upcoming_chore_listing' %>
<p class="supertiny">&nbsp;</p>
<p class="supertiny">&nbsp;</p>
<h1>All Previous Chores</h1>
<p class="supertiny">&nbsp;</p>
<%= render :partial => 'past_chore_listing' %>
<p class="supertiny">&nbsp;</p>

<%= link_to 'Add a New Chore', new_chore_path %>