<p>
	<b><%= pluralize(@author.books.size, 'Book') %></b><br />
	<ul>
		<% for book in @author.books  %>
			<li><%= link_to((book.title + ' (' + book.year_published.to_s + ')'), book_path(book)) %></li>
		<% end  %>
	</ul>
</p>